@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/themes/cerberus';

@import '@skeletonlabs/skeleton-svelte';

/* for dark mode toggling */
@custom-variant dark (&:where([data-mode=dark], [data-mode=dark] *));
